<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>BLUSA</strong>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--Conteudo-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">P</th>
          <th scope="col">M</th>
          <th scope="col">G</th>
          <th scope="col">G</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Branco </th>
          <td><strong>{{ branco_p }}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_branco_p()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>


            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_branco_p()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ branco_m }}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_branco_m()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_branco_m()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ branco_g }}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_branco_g()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_branco_g()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ branco_gg }}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_branco_gg()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_branco_gg()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
        </tr>
        <tr>
          <th scope="row">Preto</th>
          <td><strong>{{ preto_p}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_preto_p()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_preto_p()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ preto_m}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_preto_m()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_preto_m()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ preto_g}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_preto_g()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_preto_g()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ preto_gg}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_preto_gg()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_preto_gg()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
        </tr>
        <tr>
          <th scope="row">Amarelo</th>
          <td><strong>{{ amarelo_p}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_amarelo_p()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_amarelo_p()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ amarelo_m}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_amarelo_m()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_amarelo_m()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ amarelo_g}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_amarelo_g()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_amarelo_g()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
          <td><strong>{{ amarelo_gg}}</strong>
            <button type="button" class="btn btn-success btn-sm btn-round" (click)="increment_amarelo_gg()"><span
                class="glyphicon glyphicon-align-center"></span>+</button>
            <button type="button" class="btn btn-danger btn-sm btn-round" (click)="decrement_amarelo_gg()"><span
                class="glyphicon glyphicon-trash">-</span></button>
          </td>
        </tr>

        <tr>
          <th scope="row">TOTAL</th>
           <td>
             <strong>{{ branco_p + preto_p + amarelo_p}}</strong>
          </td>
          <td>
            <strong>
              {{ branco_m + preto_m + amarelo_m}}
            </strong>

          </td>
          <td>
            <strong>
              {{ branco_g + preto_g + amarelo_g}}
            </strong>
          </td>
          <td>
            <strong>
              {{ branco_gg + preto_gg + amarelo_gg}}
            </strong>
          </td>
        </tr>


      </tbody>
    </table>




  </mat-expansion-panel>


</mat-accordion>
